:host {
  input {
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;

    &.ng-touched.ng-invalid {
      border-color: #ff4e33;
    }
  }

  span {
    position: absolute;
    width: max-content;
    padding: 7px 10px;
    color: #6c7283;
  }
}
