<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<div class="new-course-container">
  <h3>{{pageTitle}}</h3>

  <label for="title">Title:</label>
  <input type="text" name="title" placeholder="Text input" [(ngModel)]="title">

  <label for="description">Description:</label>
  <textarea name="description" placeholder="Add description" [(ngModel)]="description"></textarea>

  <div class="row">
    <div class="d-flex flex-column field col-lg-3 col-md-3">
      <label for="duration">Duration:</label>
      <app-duration-input #duration name="duration"></app-duration-input>
    </div>
  </div>

  <div class="row">
    <div class="d-flex flex-column field col-lg-3 col-md-3">
      <label for="date">Date:</label>
      <app-date-input #date name="date"></app-date-input>
    </div>
  </div>

  <div class="row">
    <div class="d-flex flex-column field col-lg-6 col-md-6">
      <label for="authors">Authors:</label>
      <app-multi-select #authors name="authors"></app-multi-select>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button (click)="onCancel()">Cancel</button>
    <button (click)="onSave()">Save</button>
  </div>
</div>
