@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  flex-grow: 1;
  text-align: center;
  background-color: #f2f3f7;

  app-breadcrumbs {
    align-self: start;
  }

  .new-course-container {
    width: 730px;
    min-height: 590px;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: #fff;
    text-align: left;
  }

  h3 {
    margin-bottom: 12px;
  }

  label {
    margin-top: 12px;
    font-weight: bold;
    color: #525462;
  }

  .required {
    font-size: 12px;
    font-weight: normal;
    color: #6c7283;
    text-align: right;
  }

  .field {
    width: 100%;
  }

  .error {
    color: #ff4e33;
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;

    &.ng-touched.ng-invalid {
      border-color: #ff4e33;
    }
  }

  input {
    height: 36px;
    padding: 0 12px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 12px 10px 7px;
  }

  textarea {
    height: 100px;
    padding: 10px 12px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
  }

  button {
    width: 68px;
    height: 36px;
    margin: 24px 12px 0 0;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    font-weight: 600;
    background-color: #d9dbe3;
    color: #5b616f;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
      color: #fff;
      background-color: #9bc837;
    }

    &[type="submit"] {
      &:disabled,
      &.disabled,
      &[disabled] {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}
