<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<form [formGroup]="courseForm" (ngSubmit)="onSave()" class="new-course-container">
  <h3>{{pageTitle}}</h3>

  <div class="d-flex justify-content-between align-items-center">
    <label for="title">{{'Title' | translate}}:</label>
    <span class="required" [class.error]="courseForm.get('title').touched && courseForm.get('title').invalid">
      *{{'required' | translate}}
    </span>
  </div>
  <input
    id="title"
    formControlName="title"
    type="text"
    maxlength="50"
    placeholder="{{'Text input' | translate}}"
  >

  <div class="d-flex justify-content-between align-items-center">
    <label for="description">{{'Description' | translate}}:</label>
    <span class="required" [class.error]="courseForm.get('description').touched && courseForm.get('description').invalid">
      *{{'required' | translate}}
    </span>
  </div>
  <textarea
    id="description"
    formControlName="description"
    maxlength="500"
    placeholder="{{'Add description' | translate}}"
  ></textarea>

  <div class="row">
    <div class="d-flex flex-column field col-6 col-lg-3">
      <div class="d-flex justify-content-between align-items-center">
        <label for="duration">{{'Duration' | translate}}:</label>
        <span class="required" [class.error]="courseForm.get('duration').touched && courseForm.get('duration').invalid">
          *{{'required' | translate}}
        </span>
      </div>
      <app-duration-input
        [durationFormGroup]="courseForm.get('duration')"
        [prefilledValue]="prefilledData?.duration"
      ></app-duration-input>
    </div>
  </div>

  <div class="row">
    <div class="d-flex flex-column field col-lg-3 col-md-3">
      <div class="d-flex justify-content-between align-items-center">
        <label for="date">{{'Date' | translate}}:</label>
        <span class="required" [class.error]="courseForm.get('date').touched && courseForm.get('date').invalid">
          *{{'required' | translate}}
        </span>
      </div>
      <app-date-input
        [dateFormGroup]="courseForm.get('date')"
        [prefilledValue]="prefilledData?.date.toISOString().substr(0, 10)"
      ></app-date-input>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <label for="topRated">{{'Top-rated' | translate}}:</label>
    <input
      id="topRated"
      formControlName="topRated"
      type="checkbox"
    >
  </div>

  <div class="row">
    <div class="d-flex flex-column field col-lg-6 col-md-6">
      <div class="d-flex justify-content-between align-items-center">
          <label for="authors">{{'Authors' | translate}}:</label>
        <span class="required" [class.error]="courseForm.get('authors').touched && courseForm.get('authors').invalid">
          *{{'required' | translate}}
        </span>
      </div>
      <app-multi-select #authors name="authors"
        [options]="authorsOptions"
        [multiselectFormGroup]="courseForm.get('authors')"
        [prefilledValue]="prefilledData?.authors"
      ></app-multi-select>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button (click)="onCancel()">{{'Cancel' | translate}}</button>
    <button type="submit" [disabled]="courseForm.invalid">{{'Save' | translate}}</button>
  </div>
</form>
