<app-logo></app-logo>

<div class="autorization-section">
  <ng-container *ngIf="isUserAuthentificated && !isUserInfoLoading; then autorized; else unautorized;"></ng-container>
  <div class="log-off"  (click)="onLogout()">
    <img src="./assets/icons/ic-exit.png">
    <span>Log off</span>
  </div>
</div>

<div class="mobile-autorization-section">
  <img src="./assets/icons/ic-menu.svg" alt="" (click)="openMenu()">
  <ng-template appMenu></ng-template>
</div>

<ng-template #autorized>
  <div>
    <img src="./assets/icons/ic-user.png">
    {{user.firstName}} {{user.lastName}}
  </div>
</ng-template>

<ng-template #unautorized>
  <div class="log-in" (click)="onLogin()">
    <img src="./assets/icons/ic-user.png">
    Login
  </div>
</ng-template>
