@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 64px;
  background-color: #414452;

  app-logo {
    margin-left: 85px;
  }

  .autorization-section {
    display: flex;
    flex-wrap: nowrap;
    color: #fff;

    div, select {
      margin-right: 25px;
    }
  }

  .mobile-autorization-section {
    img {
      width: 30px;
      margin: 5px 25px;
    }
  }

  .log-off,
  .log-in {
    cursor: pointer;
  }
}

@include media-breakpoint-down(sm) {
  :host {
    app-logo {
      margin-left: 25px;
    }

    .autorization-section {
      display: none;
    }
  }
}

@include media-breakpoint-up(md) {
  :host {
    .mobile-autorization-section {
      display: none;
    }
  }
}
