@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

:host {
  .course-card {
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: #ffffff;

    &.top-rated {
      background-color: #fddede;
    }

    .heading {
      width: 75%;
    }

    h2 {
      display: inline;
      margin: 0;
      font-size: 24px;
      color: #2c2f3c;
    }

    span {
      margin: 0 8px;
      font-size: 12px;
      color: #b9bdce;
    }

    p {
      width: 75%;
      color: #525462;
    }

    button {
      width: 75px;
      height: 24px;
      margin: 6px;
      border: 0;
      border-radius: 3px;
      font-size: 12px;
      background-color: #30b6dd;
      color: #ffffff;
    }

    .top-rated-course-icon {
      margin: 0 10px;
    }
  }
}

@include media-breakpoint-down(md) {
  :host {
    .course-card .heading,
    .buttons-wrapper,
    .course-card p {
      width: 100%;
    }
  }
}
