<div class="course-card" [ngClass]="{'top-rated': course.topRated}" [appStartDate]="course.date">
  <div class="d-flex flex-lg-nowrap flex-wrap justify-content-between align-items-center heading">
    <div class="d-flex align-items-center">
      <h2>{{course.title | uppercase }}</h2>
      <img *ngIf="course.topRated" src='./assets/icons/ic-star.svg' class="big-icon top-rated-course-icon">
    </div>
    <div>
      <span>
        <img src='./assets/icons/ic-clock.svg' class="icon">
        {{course.duration | time}}
      </span>
      <span>
        <img src='./assets/icons/ic-calendar.svg' class="icon">
        {{course.date | date}}
      </span>
    </div>
  </div>

  <div class="d-flex flex-lg-nowrap flex-wrap justify-content-between align-items-center">
    <p>{{course.description}}</p>
    <div class="buttons-wrapper">
      <button class="edit-button" (click)="onEdit()">{{'Edit' | translate}}</button>
      <button class="delete-button" (click)="onDelete()">{{'Delete' | translate}}</button>
    </div>
  </div>
</div>
