@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

:host {
  flex-grow: 1;
  padding: 25px 85px;
  background-color: #f2f3f7;
}

@include media-breakpoint-down(ms) {
  :host {
    padding: 15px 25px;
  }
}
