:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  background-color: #f2f3f7;

  .login-container {
    width: 400px;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: #fff;
    text-align: left;
  }

  h3 {
    margin-bottom: 12px;
  }

  label,
  input {
    width: 100%;
  }

  label {
    margin-top: 12px;
    font-weight: bold;
    color: #525462;
  }

  label::after {
    content: '*required';
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #6c7283;
    text-align: right;
  }

  input {
    height: 36px;
    padding: 0 12px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
  }

  button {
    width: 68px;
    height: 36px;
    float: right;
    margin-top: 24px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    font-weight: 600;
    background-color: #30b6dd;
    color: #fff;
  }

  a {
    display: inline-block;
    margin: 32px 10px 0;
    font-size: 12px;
    text-decoration: underline;
  }
}
