<div class="menu-container">
  <div class="menu-overlay"></div>

  <span class="close-section" (click)="onCloseMenu()">
    <img src="./assets/icons/ic-close.svg" alt="">
  </span>

  <div class="menu">
    <ng-container *ngIf="isUserAuthentificated; then autorized; else unautorized;"></ng-container>
    <div class="log-off" (click)="onLogout()">
      <img src="./assets/icons/ic-exit.png">
      <span>Log off</span>
    </div>
  </div>
</div>

<ng-template #autorized>
    <div>
      <img src="./assets/icons/ic-user.png">
      {{user.firstName}} {{user.lastName}}
    </div>
  </ng-template>

  <ng-template #unautorized>
    <div class="log-in" (click)="onLogin()">
      <img src="./assets/icons/ic-user.png">
      Login
    </div>
  </ng-template>
