<div class="d-flex justify-content-end add-course-button-container">
  <button (click)="goToNewCoursePage()">
    <img src='./assets/icons/ic-plus.svg' class="icon">
    Add course
  </button>

  <label>
    Sort by:
    <select [ngModel]="selectedOrder" (ngModelChange)="onSortingSelect($event)">
      <option [ngValue]="defaultOrder" selected disabled hidden>Please select</option>
      <option *ngFor="let order of orders" [ngValue]="order">{{order.name}}</option>
    </select>
  </label>
</div>

<app-course-card
  *ngFor="let course of filteredCourses | slice:0:maxCoursesNumber"
  [course]="course"
  (editCourse)="onEditCourse()"
  (deleteCourse)="onDeleteCourse($event)"
></app-course-card>

<div *ngIf="filteredCourses.length > maxCoursesNumber" class="load-more-block" (click)="loadMoreCourses()">
  {{'Load more' | uppercase }}
</div>

<div *ngIf="!filteredCourses.length" class="add-course-block" (click)="goToNewCoursePage()">
  {{'No data, feel free to add new course' | uppercase}}
</div>
