<div class="add-course-button-container">
  <button>
    <img src='./assets/icons/ic-plus.svg' class="icon">
    Add course
  </button>
</div>

<app-course-card
  *ngFor="let course of courses | filterPipe:'title':searchTerm | slice:0:3; t"
  [course]="course"
  (deleteCourse)="deleteCourse($event)"
></app-course-card>

<div *ngIf="(courses | filterPipe:'title':searchTerm).length > 3" class="load-more-block" (click)="loadMoreCourses()">
  {{'Load more' | uppercase }}
</div>

<div *ngIf="!((courses | filterPipe:'title':searchTerm).length)" class="add-course-block" (click)="addCourse()">
  {{'No data, feel free to add new course' | uppercase}}
</div>
