@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

:host {
  .add-course-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 25px;

    button {
      width: 138px;
      height: 24px;
      margin-right: 10px;
      margin-bottom: 12px;
      border: 0;
      border-radius: 3px;
      font-size: 12px;
      background-color: #30b6dd;
      color: #ffffff;
    }

    label {
      height: 24px;
      margin-bottom: 12px;
      color: #525462;

      option {
        color: #525462;
      }
    }
  }

  .load-more-block,
  .add-course-block {
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    text-align: center;
    background-color: #ffffff;
  }
}

@include media-breakpoint-down(xs) {
  :host {
    .add-course-button-container {
      margin-top: 30px;
      flex-direction: column;
      align-items: flex-end;

      button {
        width: 170px;
        height: 30px;
        margin-right: 0;
        font-size: 14px;
      }
    }
  }
}
